.events{
    display: flex;
    flex-direction: column;
    background-color:#f6f6ff ;
    margin-top: 20px;
    width: 100%;
}

.event {
    display: flex;
    max-width: 1500px;
}

.event__row {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

.event__head{
    margin-left: 2rem;
    font-size: 30px;
    margin-top: 10px;
}

@media only screen and (max-width:900px) {
    .event__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}